/* .hb-container {
  width: 45vw;
}

img {
  width: 100%;
  height: 45vw;
  object-fit: cover;
  object-position: center left;
}

img:last-of-type {
  object-position: right;
}

.heart {
  margin-right: 0.5rem;
  cursor: pointer;
} */

.hb-container {
  width: 100%;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.heart {
  margin-right: 0.5rem;
  cursor: pointer;
}