header {
  padding: 1rem;
  background-color: rgb(157, 155, 235);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.horns-label {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

#hornsInput {
  width: 100px;
}